.register-container {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 350px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-icon {
  width: 25vh;
  height: 25vh;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.terms-checkbox {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: white;
}

.terms-checkbox input {
  margin: 0;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #34a853;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #2d9147;
}
