.qr-buttons-container {
  display: flex;
  gap: 16px;
  margin-top: 1vh;
  margin: 20px 0;
}

.qr-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s;
}

.qr-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.green-button {
  background-color: #4caf50; /* Verde */
  color: white;
}

.red-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

.response-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
