* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0a0a0a;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(255, 127, 80, 0.1) 0%,
    transparent 70%
  );
}
